.DS_Store
*.apk
/Unity/Temp/
/Unity/Library/
/Unity/MobageNDK/logs/MobagePostProcess-android-log.txt
/Unity/Unity-csharp.sln
/Unity/Unity.sln
/Unity/Unity.userprefs
/Unity/Assembly-CSharp-Editor-vs.csproj
/Unity/Assembly-CSharp-Editor.csproj
/Unity/Assembly-CSharp-vs.csproj
/Unity/Assembly-CSharp.csproj
/Unity/MobageNDK/logs/MobagePostProcess--PostprocessBuildPlayer.txt
/Unity/MobageNDK/logs/MobagePostProcess-android-PostprocessBuildPlayer.txt
/Unity/build/